@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: auto;
  margin: 1rem;
}

body {
  font-family: serif;
  font-size: 16px;
  color: theme(colors.grey.900);
  background: theme(colors.grey.100);
}
