@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: auto;
  margin: 1rem;
}

body {
  font-family: 'Noto Serif TC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: theme(colors.grey.900);
  background: theme(colors.grey.100);
}
